<p>
  <a href="/register">회원 가입</a>
</p>

<form action="/login" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label>
    아이디
    <input type="text" required name="username">
  </label>
  <label>
    암호
    <input type="password" required name="password">
  </label>
  <input type="submit" value="로그인">
</form>

<% errors.forEach(error => { %>
  <p><%= error %></p>
<% }) %>