<form action="/register" method="post">
  <label>
    아이디
    <input type="text" name="id" required>
  </label>
  <label>
    암호
    <input type="password" name="password" required>
  </label>
  <input type="submit" value="전송">
</form>
<div>
  <% errors.forEach(error => { %>
    <p><%= error %></p>
  <% }) %>
</div>