<form action="/register" method="post">
  <label>
    아이디
    <input type="text" name="id">
  </label>
  <label>
    암호
    <input type="password" name="password">
  </label>
  <input type="submit" value="전송">
</form>